BetterDiscord/bdstorage.json
BetterDiscord/emote_data.json
mozilla/firefox/USER_NAME/storage/
mozilla/firefox/USER_NAME/extensions/*
mozilla/firefox/USER_NAME/datareporting/
mozilla/firefox/firefox-mpris
./update_conf.sh
update_conf.sh
nixos/common/.luarc.json
nixos/yoitsu/hardware-configuration-bak.nix
file.log
common/scripts/.venv/lib/python3.12/site-packages
common/scripts/__pycache__
common/scripts/__pycache__
common/scripts/__pycache__/helper.cpython-311.pyc
common/scripts/__pycache__/helper.cpython-312.pyc
remote_build.sh
./common/zsh/.zcompdump-yuri-5.9.zwc
