/** Global *******************************************/
*{
	all: unset;
	font-family: 'JetBrains Mono Nerd Font';
  color: #cba6f7;
  // color: #651085;
}


/** Background ***************************************/
.background {
  border-radius: 12px;
	background-color: rgba(203, 166, 247, .25);
  padding: 10px;
}


/** Generic window ***********************************/
.genwin {
  background-color: rgb(17, 17, 27);
	border-radius: 16px;
  padding:5px;
}


/* Network ********************************************/
.btn_net{
}

.network {
  font-size: 20px;
  /*color: #f7e1d3;*/
}


/* Bluetooth ******************************************/
.btn_bluet {
  font-size: 20px
}

/* Battery **********************************************/
.battery {
	padding-top: 30px;
  font-size:20px;
}

.baticon {
	font-size: 26px;
}

/* Microphone *****************************************/
.btn_mic {
  font-size: 32px;
}


/** System Sliders ********************************************/
.slidersbox {
  padding: 4px;
}

.iconbright {
	font-size : 24px;
	font-weight : normal;
  /*color: #eed49f;*/
}

.bright_bar scale trough {
	all: unset;
	background-color: #D2F7A6;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.bright_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	/*background-color: #eed49f;*/
  background-color: rgb(203, 166, 247);
}

.iconvolume {
	font-size : 28px;
	font-weight : normal;
  margin-left: 4px;
}

.volume_bar scale trough {
	all: unset;
	background-color: #D2F7A6;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.volume_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	background-color: rgb(203, 166, 247);
}

.iconmic {
	font-size : 28px;
	font-weight : normal;
  margin-left: 4px;
}

.mic_bar scale trough {
	all: unset;
	background-color: #D2F7A6;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.mic_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	background-color: rgb(203, 166, 247);
}


/** Music ***************************************/
.album_art {
	background-size: 180px;
	min-height: 180px;
	min-width: 180px;
	margin: 4px;
	border-radius: 14px;
  background-size: 100%;
}

.artist {
    color: #Eed49f;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9); /* Adds a soft shadow for better readability */
    font-size: 16px;
    font-weight: normal;
    padding: 2px 4px; /* Slight padding to improve spacing */
    margin: 0px 0px 15px 0px;
}

.song {
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9); /* Similar effect for consistency */
    font-size: 18px;
    font-weight: bold;
    padding: 2px 4px;
    margin-bottom: 5px;
}

.btn_prev, .btn_play, .btn_next {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9); /* Similar effect for consistency */
}
.btn_prev {
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	font-size : 35px;
	font-weight : bold;
	margin-left: -12px;
}
.btn_next {
	font-size : 32px;
	font-weight : normal;
}


/** Calendar *******************************************/

.cal {
  padding: 5px 5px 0px 5px;
  border: transparent;
	font-size: 17px
}

calendar {
  color: rgb(203, 166, 247);
}

calendar:selected {
  color: rgb(210, 247, 166);
}

calendar.header {
  color: #a1bdce;
  font-weight: bold;
}

calendar.button {
  color: #afbea2;
}

calendar.highlight {
  color: #a1bdce;
  font-weight: bold;
}

calendar:indeterminate {
  color: #242424;
}




/** Power buttons ***************************************/
.btn_poweroff {
	font-size : 25px;
  padding: 8px 0;
	margin: 0px 4px 0px -5px;
}



/** EOF *************************************************/
