$white: #c6c6c6;
$gray: gray;
$gray-alt: #333333;

*{
  all:unset;
}

.cc-padded-box{
  background-color: rgba($color: $gray, $alpha: 0.4);
  border-radius: 16px;
  border-style: solid;
  padding: 15px;
}

.cc-slider-box {
  background-color: $gray-alt;
  border-radius: 20px;
}

.cc-volbar trough highlight {
  min-height: 13px;
  border-radius: 100px;
  background-color: $white;
  border: 1px solid #FFF;
}
